<!DOCTYPE html>
<html>
  <head>
    <title>
      Agreando paquete
    </title>
    <link rel='stylesheet' href ='/stylesheets/style.css'/>
    <link rel="stylesheet" type ="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
    <link rel="stylesheet" href ="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  
  <body>
      <% if (mensaje){ %>
        <div class="alert alert-danger" role="alert">
            <%- mensaje %>
        </div>
        <% } %>
    <div class="card">
        <div class="card-header">
            Agrega un paquete
        <div class="card-body">
            <form action="/servicio/add"method="post">
                <div class="form-group">
                    <label>ID Paquete</label>
                    <input type="text"class="form-control"name="IDservicio"value="<%=IDservicio%>"autocomplete="off" required>
                </div>
                <div class="form-group">
                    <label>Nombre:</label>
                    <input type="text"class="form-control"name="Nombre"value="<%=Nombre%>"autocomplete="off" required>
                </div>
                <div class="form-group">
                    <label>Costo:</label>
                    <input type="text"class="form-control"name="Costo"value="<%=Costo%>"autocomplete="off" required>
                </div>
                <div class="form-group">
                    <label >Contenido</label>
                    <input type="text"class="form-control"name="Contenido"value="<%=Contenido%>"autocomplete="off" required>
                  </div>

                <div class="form-group">
                    <input type="submit"class="btn btn-info"value= "Agregar"/>
                </div>
            </form>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"> </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"> </script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
</script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
<script src="./javascripts/servicio.js"></script>
</body>
</html>